In [1]:
import numpy as np
import pandas as pd

In [2]:
n_candidates = 1000
n_winners = 10

skill_weight = 0.95
luck_weight = 0.05

In [3]:
df = pd.DataFrame({
    "skill": np.random.randint(1, 101, n_candidates),
    "luck": np.random.randint(1, 101, n_candidates)
})

df["performance"] = df["skill"] * skill_weight + df["luck"] * luck_weight

In [4]:
df.nlargest(n_winners, "performance")

     skill  luck  performance
290    100    83        99.15
600    100    81        99.05
319    100    77        98.85
526     99    78        97.95
608     99    75        97.80
898     99    74        97.75
947     99    74        97.75
919     98    85        97.35
968    100    47        97.35
143     98    83        97.25